<!DOCTYPE html>
<html lang="en" ng-app="documentation" class="revenue">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Business Taxes Documentation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="web-resources/css/foundation.min.css">
    <link rel="stylesheet" href="web-resources/css/vendor.min.css">
    <link rel="stylesheet" href="web-resources/css/site.css">
    <link rel="stylesheet" href="web-resources/css/myDocs.css">
    <link rel="stylesheet" href="web-resources/css/angular-cookie-law.min.css">
    <link rel="stylesheet" href="web-resources/css/dropdown.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-sanitize.min.js"></script>
    <script src="web-resources/angular-cookie-law.min.js"></script>
    <script>
    angular.module('documentation', ['angular-cookie-law', 'ngSanitize']).controller('DocumentationController', ['$http', '$sce', '$scope', function ($http, $sce, $scope) {
    var vm = this;
    vm.success = false;
    vm.error = false;
    $http.get('web-resources/data.json').then(function (data) {
    vm.data = data.data;
    });

    vm.sendData = sendData;
    vm.generateHTML = generateHTML;

    function generateHTML(document) {
    return '<sup>' + document.explainerIndex + '</sup>' + document.explainer;
    }

    function sendData(params) {
    var category = params[0];
    var event_label = params[1];
    gtag('event', category, {
    'event_category': category,
    'event_label': event_label
    });
    }

    // Initialize an array to control the visibility of dropdowns
    $scope.showDropdown = [false, false, false, false];


    // Function to toggle the visibility of a dropdown
    $scope.toggleDropdown = function (index) {
    // Close all other dropdowns
    for (var i = 0; i < $scope.showDropdown.length; i++) {
    if (i !== index) {
    $scope.showDropdown[i] = false;
    }
    }

    // Toggle the visibility of the clicked dropdown
    $scope.showDropdown[index] = !$scope.showDropdown[index];
    }
    }]);
    </script>
    <style>
        .grade {
            background: -webkit-linear-gradient(135deg, #333, #eee, #333, #eee, #333, #eee, #333 , #eee);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        ul {
            padding-left: 3em;
        }
    </style>
</head>
<body class="revenue">
<cookie-law-banner
        message="By using this website, you consent to the use of cookies in accordance with our privacy policy."
        policy-url="https://www.revenue.ie/en/online-services/support/data-and-security/privacy/use-of-cookies.aspx"
        policy-button="true"
        policy-text="Find out more about cookies."
        accept-text="Close"
></cookie-law-banner>
<div class="revenue">
    <div id="top-bar">
        <div class="row">
            <div class="small-6 medium-5 large-7 columns logo">
                <a class="revenueLogo float-left" title="Home" href="http://www.revenue.ie">
                    <img alt="revenue-Logo" height="209" width="437" src="web-resources/revenue-Logo-white.png">
                </a>
            </div>
        </div>
    </div>
    <div class="hub-destination-row">
        <div class="content row">
            <div class="col-lg-12 col-md-12" id="overview-page">
                <div id="overview">
                    <h2>Revenue Business Taxes Web Services</h2>
                    <div>
                        <p style="line-height: 180%">
                            The Revenue Online Service (ROS) enables customers to submit forms electronically to Revenue. These forms are XML files which are signed digitally by a customer’s digital certificate and transferred securely to ROS. Customers may generate valid XML files, either by using ROS directly or by using third-party software packages.
                        </p>
                        <p>
                            In order to assist third-party IT software developers, a list of available forms is published here. This page provides developers with an XSD file for each form, as well as a PDF document that explains the various elements of the XML. XSD files can be used to ensure that the XML generated by third-party software conforms to the correct format.
                        </p>
                        <!-- change -->
                        <!-- <p>--> <!-- There will also be a list of future developments and known issues per taxhead, where applicable.--> <!-- </p>-->
                    </div>
                </div>
                <br>
                <div data-ng-controller="DocumentationController as vm" class="ng-scope">
                    <!-- Dropdown 1 -->
                    <div class="dropdown" ng-class="{ 'active': showDropdown[0] }">
                        <button class="dropdown-toggle" ng-click="toggleDropdown(0)">
                            <span class="dropdown-icon"></span>
                            CT1 - Schema & Notes
                        </button>
                        <div class="dropdown-content" ng-show="showDropdown[0]">
                            <!-- AngularJS content for Dropdown 1 -->
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div id="show-data0">
                                        <!-- Container -->
                                        <div class="section-header" style="margin-bottom: 1rem;">
                                            <a name="{{vm.data.CT1.anchor}}" style="text-decoration:none">
                                                <h3>{{vm.data.CT1.title}}</h3>
                                            </a>
                                        </div>
                                        <i>
                                            <div class="col-sm-12" style="padding-left: 0rem !important"; data-ng-if="vm.data.CT1.cardText" ng-bind-html="vm.data.CT1.cardText"></div>
                                        </i>
                                        <br/><br/>
                                        <div class="col-xs-12" style="padding: 0.3rem !important;">
                                            <div class="bold">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                    <strong>Document Description</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">
                                                    <strong>Environment</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 1.25rem !important;">
                                                    <strong>Date Last Updated</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Iterate over the documents -->
                                        <div class="card" data-ng-repeat="document in vm.data.CT1.cards track by $index" style="font-size: 1.2rem; margin-bottom: 1rem;">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                <a data-ng-href="{{document.link}}" target="_blank" data-ng-click="vm.sendData([document.category, document.description])">{{document.description}}</a>
                                                <sup data-ng-if="document.explainer">
                                                    {{document.explainerIndex}}
                                                </sup>
                                            </div>
                                            <a name="{{document.anchor}}"></a>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">{{document.type}}</div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">{{document.environment}}</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 0rem !important;">{{document.dateLastUpdated}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Dropdown 2 -->
                    <div class="dropdown" ng-class="{ 'active': showDropdown[1] }">
                        <button class="dropdown-toggle" ng-click="toggleDropdown(1)">
                            <span class="dropdown-icon"></span>
                            Form 11 - Schema & Notes
                        </button>
                        <div class="dropdown-content" ng-show="showDropdown[1]">
                            <!-- AngularJS content for Dropdown 2 -->
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div id="show-data1">
                                        <!-- Container -->
                                        <div class="section-header" style="margin-bottom: 1rem;">
                                            <a name="{{vm.data.Form11.anchor}}" style="text-decoration:none">
                                                <h3>{{vm.data.Form11.title}}</h3>
                                            </a>
                                        </div>
                                        <i>
                                            <div class="col-sm-12" style="padding-left: 0rem !important"; data-ng-if="vm.data.Form11.cardText" ng-bind-html="vm.data.Form11.cardText"></div>
                                        </i>
                                        <br/><br/>
                                        <div class="col-xs-12" style="padding: 0.3rem !important;">
                                            <div class="bold">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                    <strong>Document Description</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">
                                                    <strong>Environment</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 1.25rem !important;">
                                                    <strong>Date Last Updated</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Iterate over the documents -->
                                        <div class="card" data-ng-repeat="document in vm.data.Form11.cards track by $index" style="font-size: 1.2rem; margin-bottom: 1rem;">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                <a data-ng-href="{{document.link}}" target="_blank" data-ng-click="vm.sendData([document.category, document.description])">{{document.description}}</a>
                                                <sup data-ng-if="document.explainer">
                                                    {{document.explainerIndex}}
                                                </sup>
                                            </div>
                                            <a name="{{document.anchor}}"></a>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">{{document.type}}</div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">{{document.environment}}</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 0rem !important;">{{document.dateLastUpdated}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dropdown 3 -->
                    <div class="dropdown" ng-class="{ 'active': showDropdown[2] }">
                        <button class="dropdown-toggle" ng-click="toggleDropdown(2)">
                            <span class="dropdown-icon"></span>
                            Form1-Firms - Schema & Notes
                        </button>
                        <div class="dropdown-content" ng-show="showDropdown[2]">
                            <!-- AngularJS content for Dropdown 3 -->
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div id="show-data2">
                                        <!-- Container -->
                                        <div class="section-header" style="margin-bottom: 1rem;">
                                            <a name="{{vm.data['Form1-Firms'].anchor}}" style="text-decoration:none">
                                                <h3>{{vm.data['Form1-Firms'].title}}</h3>
                                            </a>
                                        </div>
                                        <i>
                                            <div class="col-sm-12" style="padding-left: 0rem !important"; data-ng-if="vm.data['Form1-Firms'].cardText" ng-bind-html="vm.data['Form1-Firms'].cardText"></div>
                                        </i>
                                        <br/><br/>
                                        <div class="col-xs-12" style="padding: 0.3rem !important;">
                                            <div class="bold">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                    <strong>Document Description</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">
                                                    <strong>Environment</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 1.25rem !important;">
                                                    <strong>Date Last Updated</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Iterate over the documents -->
                                        <div class="card" data-ng-repeat="document in vm.data['Form1-Firms'].cards track by $index" style="font-size: 1.2rem; margin-bottom: 1rem;">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                <a data-ng-href="{{document.link}}" target="_blank" data-ng-click="vm.sendData([document.category, document.description])">{{document.description}}</a>
                                                <sup data-ng-if="document.explainer">
                                                    {{document.explainerIndex}}
                                                </sup>
                                            </div>
                                            <a name="{{document.anchor}}"></a>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">{{document.type}}</div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">{{document.environment}}</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 0rem !important;">{{document.dateLastUpdated}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dropdown 4 -->

                    <div class="dropdown" ng-class="{ 'active': showDropdown[3] }">
                        <button class="dropdown-toggle" ng-click="toggleDropdown(3)">
                            <span class="dropdown-icon"></span>
                            Form1-Trusts & Estates - Schema & Notes
                        </button>
                        <div class="dropdown-content" ng-show="showDropdown[3]">
                            <!-- AngularJS content for Dropdown 4 -->
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div id="show-data3">
                                        <!-- Container -->
                                        <div class="section-header" style="margin-bottom: 1rem;">
                                            <a name="{{vm.data['Form1-Trusts & Estates'].anchor}}" style="text-decoration:none">
                                                <h3>{{vm.data['Form1-Trusts & Estates'].title}}</h3>
                                            </a>
                                        </div>
                                        <i>
                                            <div class="col-sm-12" style="padding-left: 0rem !important"; data-ng-if="vm.data['Form1-Trusts & Estates'].cardText" ng-bind-html="vm.data['Form1-Trusts & Estates'].cardText"></div>
                                        </i>
                                        <br/><br/>
                                        <div class="col-xs-12" style="padding: 0.3rem !important;">
                                            <div class="bold">
                                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                    <strong>Document Description</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">
                                                    <strong>Environment</strong>
                                                </div>
                                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 1.25rem !important;">
                                                    <strong>Date Last Updated</strong>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Iterate over the documents -->
                                        <div class="card" data-ng-repeat="document in vm.data['Form1-Trusts & Estates'].cards track by $index" style="font-size: 1.2rem; margin-bottom: 1rem;">
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-4 col-xxs-4">
                                                <a data-ng-href="{{document.link}}" target="_blank" data-ng-click="vm.sendData([document.category, document.description])">{{document.description}}</a>
                                                <sup data-ng-if="document.explainer">
                                                    {{document.explainerIndex}}
                                                </sup>
                                            </div>
                                            <a name="{{document.anchor}}"></a>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-xxs-2">{{document.type}}</div>
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-xxs-3" style="padding: 0rem !important;">{{document.environment}}</div>
                                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-xxs-3" style="padding-left: 0rem !important;">{{document.dateLastUpdated}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: 70px;">
                    <div class="col-lg-12 col-md-12">
                        <h2>Support Facilities</h2>
                        <p>
                            This documentation is served from Revenue's GitHub Business Taxes repository, which can be found <b><a href="https://github.com/revenue-ie/business-taxes-documentation">here</a></b>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>